<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title></title>
</head>
<body>
<h:panelGrid columns="2">
    <h:form>
            <h:inputText id="myinput" value="#{simpleValueBean.label}"/>
        <br/>
        Result:
        <br/>
            <h:outputText id="outtext" value="#{simpleValueBean.label}"/>
        <br/>
            <h:commandButton value="jsfButton">
                <f:ajax execute="@form" render="outtext"/>
            </h:commandButton>
        <br/>
            <a4j:commandButton value="a4jButton" execute="@form" render="outtext"/>
    </h:form>
</h:panelGrid>
</body>
</html>