<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xml:lang="en" lang="en"
      xmlns:comp="http://java.sun.com/jsf/composite/comp"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title></title>
</head>
<body>
<h:form id="form">
    <div style="background-color: yellow;">
        Validation errors:
        <h:messages/>
    </div>

    <comp:magicInput id="test" value="#{simpleValueBean.label}" style="border-color:red;">
        <f:ajax event="keyup" execute="@this" render="form:outtext" />
        <f:validateLength minimum="3" for="magicComposite"/>
    </comp:magicInput>
    <br/>
    <h:outputText id="outtext" value="#{simpleValueBean.label}"/>
    <br/>
    <h:commandButton value="Go"/>
</h:form>
</body>
</html>