<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xml:lang="en" lang="en"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
    <title></title>
</head>
<body>
<h:form>
    <ui:debug/>
    <h:panelGrid columns="2">
        <h:outputText value="Simple label"/>
        <h:inputText value="#{viewValueBean.label}"/>

        <h:outputText value="Rendered = false"/>
        <h:inputText value="#{viewValueBean.label1}" rendered="false"/>
        <h:outputLabel/>

        <h:outputText value="Disabled = false"/>
        <h:inputText value="#{viewValueBean.label2}" disabled="true"/>

        <h:outputText value="ReadOnly = true"/>
        <h:inputText value="#{viewValueBean.label3}" readonly="true"/>

        <h:outputText value="ReadOnly = true, Render phase"/>
        <h:inputText value="#{viewValueBean.label4}" readonly="#{facesContext.renderResponse}"/>

    </h:panelGrid>

    <br/>

    <h:commandButton value="Go"/>
</h:form>
</body>
</html>