<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition>
	List of examples

    <ul>
        <li><h:link value="Ajax" outcome="ajax.xhtml"/></li>
        <li><h:link value="Set property action listener" outcome="propListener.xhtml"/></li>
        <li><h:link value="Validators" outcome="validators.xhtml"/></li>
        <li><h:link value="Java Script" outcome="js.xhtml"/></li>
        <li><h:link value="Skip validation" outcome="skipValidation.xhtml"/></li>
        <li><h:link value="Composite components" outcome="composite.xhtml"/></li>
        <li><h:link value="Non invoking action" outcome="nonInvokingAction.xhtml"/></li>
        <li><h:link value="Disable component" outcome="disable.xhtml"/></li>
        <li><h:link value="Redirect" outcome="redirect.xhtml"/></li>


        <li><h:link value="Form with immediate button" outcome="immediateForm.xhtml"/></li>

    </ul>
</ui:composition>
</html>