<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

<ui:composition>
	This is simple text.

	<h:form id="simpleForm" >
		<h:inputText value="#{simpleController.valueBean.label}" />
		<h:commandButton value="Go" immediate="true" action="#{simpleController.clearValues}"/>
	</h:form>
</ui:composition>
</html>