<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xml:lang="en" lang="en"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title></title>
</head>
<body>
<h:form>
    <h:panelGroup rendered="#{viewValueBean.display}">
        <h:commandButton action="#{simpleController.doNotDisplay}" >
            <f:ajax execute="@this" render="label"/>
        </h:commandButton>
    </h:panelGroup>
    <br/>
    <h:outputText id="label" value="#{viewValueBean.label}"/>
</h:form>
</body>
</html>