<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title></title>
</head>
<body>
<h:panelGrid columns="2">
    <h:form>
        <h:dataTable var="book" value="#{viewValueBean.books}">
            <h:column>
                #{book.title}
            </h:column>
            <h:column>
                <h:commandButton value="Set property">
                    <f:setPropertyActionListener value="#{book}" target="#{viewValueBean.chosenBook}"/>
                </h:commandButton>
            </h:column>
        </h:dataTable>
<div>
    Choosen book:
    #{viewValueBean.chosenBook.title}
    <br/>
</div>
    </h:form>
</h:panelGrid>
</body>
</html>