<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xml:lang="en" lang="en">
<head>
    <title></title>
</head>
<body>
<h:form>
    <h:inputText value="#{simpleValueBean.label}"/>
    <br/>
    <h:commandLink value="Simple page change" action="redirected.xhtml"/>
    <br/>
    <h:commandLink value="Redirect" action="redirected.xhtml?faces-redirect=true"/>
    <br/>
    <h:link value="H Link" outcome="redirected.xhtml"/>
</h:form>
</body>
</html>