<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
<head>
    <title></title>
</head>
<body>
<h:form>
    <div style="background-color: yellow;">
        Validation errors:
        <h:messages/>
    </div>

    <h:inputText id="myinput" value="#{simpleValueBean.label}">
        <f:validateLength maximum="3"/>
    </h:inputText>
    <br/>
    Result:
    <br/>
    <h:outputText id="outtext" value="#{simpleValueBean.label}"/>
    <br/>

    <h:commandButton value="immediate true" immediate="true"/>

    <h:commandButton value="immediate false" immediate="false"/>

    <h:commandButton value="exceute this">
        <f:ajax execute="@this" render="@form"/>
    </h:commandButton>
</h:form>
</body>
</html>