<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
      xml:lang="en" lang="en">
<head>
    <title></title>
</head>


<body>
<div style="background-color: yellow;">
    Validation errors:
    <h:messages/>
</div>
<h:form>
    <h:panelGrid columns="2">
        <h:outputText value="MaxLength"/>
        <h:inputText value="#{simpleValueBean.label}" maxlength="20"/>
        <h:outputText value="Validator"/>
        <h:inputText value="#{simpleValueBean.label}" validatorMessage="Label is not valid">
            <f:validateLength maximum="20" />
        </h:inputText>
    </h:panelGrid>
    <h:commandButton value="Submit"/>
</h:form>
</body>

</html>
