<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:cc="http://java.sun.com/jsf/composite">

<cc:interface>
    <cc:attribute name="id" />
    <cc:attribute name="style" />
    <cc:attribute name="value" />
    <cc:editableValueHolder name="magicComposite" targets="#{cc.attrs.id}" />
    <cc:clientBehavior name="keyup" event="keyup" targets="#{cc.attrs.id}" />

</cc:interface>
<cc:implementation>
    <h:inputText id="#{cc.attrs.id}"
                 style="#{cc.attrs.style}"
                 value="#{cc.attrs.value}" tabindex="#{cc.attrs.tabindex}">
        <f:validateLength maximum="5"/>
    </h:inputText>
</cc:implementation>
</html>